<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles-signup.css" >
    <link rel="stylesheet" href="styles-signup_responsive.css" >
    <title> Sign-up form</title>
</head>


<body>

<div class="signup-container">
    <div class="signup-header">
        <h1>Sign-up</h1> 
        <span> Are you an existing user? <a href="../login/login.html">Login here.</a> </span>
    </div>

<!-- Inserting the web form -->
    <form action="#" method="post">  
        <div class="form-group">
            <div class="column">
                    <label for="role">Role:</label><br>
                    <select id="role" name="role" required>
                        <option value="doctor">Doctor</option>
                        <option value="patient" selected>Patient</option>
                        <option value="staff">Staff</option>
                    </select><br><br>
    
                    <label for="referred" >Referred:</label><br>
                    <select id="referred" name="referred" required>
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>
            </div>
    
            <div class="column">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required placeholder="Enter your name" minlength="5"><br><br>
    
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required placeholder="Enter your personal email" required minLength="10" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"/><br><br>
    
                    <label for="phoneNum">Phone Number</label><br>
                    <input type="tel" id="phoneNum" name="phoneNum" required placeholder="Enter your local phone number" minlength="10"><br><br>

                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password" required placeholder="Enter your password for this account" minlenght="8"><br>
            </div>
        </div>

        <div class="buttons">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>

</div>


</body>


</html>