/* Position the appointment container */
.notification-container {
    position: fixed; /* Stay in place during scroll */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    background-color: #0057B8;
    color:#f8f9fa; /* Light gray background (adjust as needed) */
    border: 1px solid #ced4da; /* Subtle border */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .appointments-page {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    padding: 20px; 
    max-width: 800px; 
    margin: 0 auto ;
    min-height: 20vh; /* Ensure the container takes up the full viewport height for vertical centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }

  .appointment-details {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc ;
    padding: 1.5rem; 
    border-radius: 0.75rem; 
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-size:3.0rem;
    padding: 0.2rem;    
    text-decoration: underline;
  }

  h2 {
    font-size:1.75rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.05rem;
    font-weight:700;
    margin-bottom:0.5rem;
  }

  .spanTxt {
    justify-content: center;
    align-items:center;
    font-size:0.85rem;
    padding: 0.15rem 0.15rem;
    color:#FFD700;
  }

  .spanTxt2 {
    justify-content: center;
    align-items:center;
    font-size:1.05rem;
    padding: 0.15rem 0.15rem;
    color:#0101d1;
  }

.close-btn {
  display: 'inline-flex';
  font-size:0.76rem;
  background-color: #1772db; 
}

.close-btn:hover {
    background-color: white;
    color:black;
    transition: all 0.3s ease;
}

.cancel-btn {
  background-color: #ff3c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #e74e4e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transform: scale(1.08);
  transition: all 0.3s ease;
}