.review-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

.review-btn{
  background-color: #00499d;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1.0rem 1.2rem;
  font-size: 0.85rem;
  filter: drop-shadow(0rem 0.5rem 0.5rem  rgba(0, 0, 0, 0.39));  
  transition:all 0.35s ease;    
}