<html>
    <body>


<div> 
    <form onSubmit={handleSubmit}>
        <h2>Give Your Feedback</h2>

        <div>
        <label htmlFor="name">Name:</label>
        <input type="text" id="name" name="name" value={formData.name} onChange={handleChange}> </input>
        </div>
        <div>
        <label htmlFor="review">Review:</label>
        <textarea id="review" name="review" value={formData.review} onChange={handleChange}> </textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
  </div>  

</body>
</html>