.reports-container {
    max-width: 1200px;
    margin: 5% auto;
    padding: 20px;
  }
  
  .reports-container h1 {
    text-decoration: underline;
    margin-bottom: 1.5rem;
  }


  .report-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .report-table th,
  .report-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .report-table th {
    background-color: #e8e8e8;
  }
  
  .report-link {
    display: inline-block;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .report-link:hover {
    background-color: #0056b3;
  }
  

  .viewReports-btn {
    background:  #0057B8;
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    transform: translateX(-5px);
}

.viewReports-btn:hover {
    background:  #0b79f7;
    transform: scale(1.07) translateX(-6.5px);
    text-decoration: underline;
    font-weight: 750;
}